@import "variables";

.drop{
    width: 80px;
    height: 115px;
    padding: 5px 5px 20px 5px;
    background-color: $color-white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    top: 62px;
    left: 93%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all linear .5s;
    @media screen and (max-width: 1215px){
        left: 92%;
    }
    @media screen and (max-width: 1124px){
        left: 90%;
    }
    @media screen and (max-width: 1024px){
        left: 78%;
    }
    @media screen and (max-width: 900px){
        left: 75%;
    }
    @media screen and (max-width: 700px){
        left: 70%;
    }
    .drop__title{
        width: 100%;
        margin: 0 auto;
        @include textStyle($secont-font, $text, 20px, 700, $color-black);
        text-transform: capitalize;
        text-align: center;
        position: relative;
        &:after{
            content: "";
            width: 40px;
            height: 1px;
            margin: 0 auto;
            margin-bottom: 15px;
            background-color: $primary-color;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
        }
    }
    .drop__item{
        width: 100%;
        margin: 0 auto;
        @include textStyle($secont-font, $text, 20px, 400, $color-black);
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        transition: all linear .3s;
        &:hover{
            text-decoration: underline;
            color: $primary-color;
        }
    }
}