@import "variables";

.bg__main{
    background: url(../../public/welcome-bg-desc.png), lightgray 50% / cover no-repeat;
    position: relative;
    &:after{
        content: "";
        width: 100vw;
        margin: 0 auto;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 600px;
        min-height: 600px;
        z-index: 3;
        background: linear-gradient(rgba(12, 12, 14, 1), rgba(12, 12, 14, 0) 50%);
    }
}

.inner__main{
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
    .main__content{
        width: 600px;
        margin-top: 220px;
        height: 220px;
        background-color: $color-black;
        padding: 35px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main_text{
            @include textStyle($main-font, $title, 50px, 400, $color-white);
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}